POSTGRES_URL=postgres://t3m8ch@localhost/productsdb
REDIS_URL=redis://localhost:6379/0
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_DOMAIN=localhost:5173
LOG_LEVEL=debug
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123
